<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <title>last.fm to Spotify playlist generator</title>
    </head>

    <body>
        <div>
            <form method = "POST">
                <h2>Get data from last.fm</h2>
                <label for="charts">Obtain data from:</label><br>
                <select name="charts" id="charts">
                    <option value="chart">Last.fm Popularity charts</option>
                    <option value="user">Specific user</option>
                </select><br><br>
    
                <label for="username">last.fm username:</label><br><br>
                <textarea cols="20" rows="3" id="username" name="username"></textarea><br><br>
                
                <label for="type">Type of data:</label><br>
                <select name="type" id="type">
                    <option value="artist">Top artists</option>
                    <option value="album">Top albums</option>
                    <option value="track">Top tracks</option>
                </select><br><br>
                
                <label for="limit">Number of items:</label><br>
                <textarea cols="20" rows="3" id="limit" name="limit"></textarea><br><br>
                
                <input type="submit" value="Generate data"><br><br><br>
            </form>
        </div>
    </body>
</html>